<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="lidar_s1" default="false" />
    <arg name="lidar_a2" default="true" />
    <arg name="rosbot_pro" default="false"/>
    <arg name="rosbot_version" default="$(optenv ROSBOT_VER)"/>

    <include file="$(find astra_launch)/launch/astra.launch"/>

    <include if="$(arg lidar_a2)" file="$(find rplidar_ros)/launch/rplidar.launch"/>
    <include if="$(arg lidar_s1)" file="$(find rplidar_ros)/launch/rplidar_s1.launch"/>

    <node pkg="tf" type="static_transform_publisher" name="laser_publisher" args="0 0 0.058 3.14159 0 0 rosbot1/base_link rosbot1/laser 100" />

    <node pkg="tf" type="static_transform_publisher" name="camera_publisher" args="-0.03 0 0.18 0 0 0 rosbot1/base_link rosbot1/camera_link 100" />


    <arg name="rosbot_pro" default="false"/>

    <include unless="$(arg rosbot_pro)" file="$(find rosbot_ekf)/launch/rosseri$

    <include if="$(arg rosbot_pro)" file="$(find rosbot_ekf)/launch/rosserial_b$
        <arg name="serial_port" value="/dev/ttyS4"/>
        <arg name="serial_baudrate" value="460800"/>
    </include>

    <include file="$(find rosbot_ekf)/launch/message_conversion.launch"/>

    <include file="$(find rosbot_ekf)/launch/rosbot_ekf.launch"/>

    <node pkg="tf" type="static_transform_publisher" name="imu_publisher" args="0 0 0.02 0 0 0 rosbot1/base_link rosbot1/imu_link 100" />




</launch>
