<?xml version="1.0" encoding="UTF-8"?>
<launch>

<group ns="rosbot1">
		<param name="tf_prefix" value="rosbot1" />

		<include file="$(find multiple_rosbots)/launch/rosbot1_hardware.launch"/>
        <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>  
        
        
    
</group>

<include file="$(find multiple_rosbots)/launch/move_base_rosbot1.launch" />
<include file="$(find multiple_rosbots)/launch/amcl_only_rosbot1.launch" />

</launch>